<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/desktop.css">
    <title>2주의 영화 - 영화의봄</title>
<!--    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.all.min.js"></script>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" type="text/css" href="/css/components/movie/detail.css">-->
    <link rel="stylesheet" href="/css/components/movie/list.css">
    <script src="/js/movie/list.js" defer></script>
    <script src="/js/movie/detail.js" defer></script>
    <style>
        .delete-button {
            position: relative;
            bottom: 52px;
            right: -760px;
        }
        .empty-field {
            /*position: relative;*/
            /*bottom: -10px;*/
            /*right: 1086px;*/
            /*margin-left: 6px;*/
            /*margin-top: 8px;*/
            opacity: 0;
            transition: opacity 0.5s;
        }
        .show-and-hide {
            opacity: 1;
        }

        .charCount {
            /*position: relative;*/
            /*bottom: -10px;*/
            /*right: 1090px;*/
        }
    </style>
</head>

<body>
    <main layout:fragment="main" class="media">
        <section class="media-sect-for-2weeks media-mobile">
            <h1 class="d:none">메인</h1>
            <section class="my:6  px:2">
                <button id="playButton" class="n-btn n-btn:outline ">음악 재생</button>
                <audio id="myAudio">
                    <source src="/media/movieSong2.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <script>
                    window.onload = function () {
                        var audio = document.getElementById("myAudio");

                        var playButton = document.getElementById("playButton");
                        playButton.addEventListener("click", function () {
                            audio.play();
                        });
                    };

                </script>
                <section  th:if="${movie.voteCount != 0}" class="">
                    <div class="txt-al:center">
                        <h1 class="fw:3 fs:8">🎖️2주의 영화</h1>
                    </div>
                    <div class="m-top:4">
                        <div class="d:flex jc:center h:8">
                            <img class="bd-radius:1 box-shadow:1" src=""
                                th:src="${movie.posterUrl != null ? movie.posterUrl : '/image/no_image_poster.png'}"
                                alt="dd">
                        </div>
                        <div class="m-top:4">
                            <div class="d:flex jc:center ai:center gap:2">
                                <span th:text="${movie.korName}" class="fs:6">영화제목</span>
                            </div>
                        </div>
                        <div class="m-top:4">
                            <div class="d:flex jc:center">
                                <span th:text="${movie.movieIntro}">줄거리</span>
                            </div>
                        </div>
                    </div>
                </section>

                <section th:if="${movie.voteCount == 0}" class="">
                    <div class="txt-al:center">
                        <h1 class="fw:3 fs:8">🎖️2주의영화</h1>
                    </div>
                    <div class="m-top:4">
                        <div class="d:flex jc:center h:8">
                            <img class="bd-radius:1 box-shadow:1"
                                src="/image/no_image_poster.png"
                                alt="dd">
                        </div>
                        <div class="m-top:4">
                            <div class="d:flex jc:center ai:center gap:2">
                                <span class="fs:6">투표를 받은 영화가 없습니다</span>
                            </div>
                        </div>
                        <div class="m-top:4">
                            <div class="d:flex jc:center">
                                첫번째로 2주의영화에 투표를 해보세요!
                            </div>
                        </div>
                        <div class="d:flex jc:center my:4">
                            <a href="/2weeks/list">
                                <button class="n-btn n-btn-color:main">후보 보러가기</button>
                            </a>
                        </div>
                    </div>
                </section>

                <section th:if="${movie.voteCount != 0}">
                    <h1 class="d:none">한줄 평</h1>
                    <div class="d:flex mb:5 bd-top py:4">
                        <h1 class="pl:1 fw:3 fs:5 section-font border-left bd-color:main-2 bd-w:3  mr:auto">한줄 평
                            <span class="fs:3 fw:2 color:base-10"
                                th:with="formattedSize=${reviews.size() > 999 ? #numbers.formatInteger(reviews.size(),3,'COMMA') : reviews.size()}"
                                th:text="${'('+formattedSize+' 개)'}">(3,426리뷰)
                            </span>
                        </h1>
                    </div>
                    <ul class="d:flex flex-direction:column gap:2">
                        <li th:each="r ,count: ${reviews}" class="n-item n-item-type:shadow ttr">
                            <div class="d:flex flex-direction:column gap:2">
                                <div class="d:flex">
                                    <span th:text="${r.memberRate}+원"
                                        class="margin-right:auto color:sub-1 fw:bold">평점</span>
                                    <span th:text="${#dates.format(r.regDate, 'yyyy년 MM월 dd일')}">날짜</span>
                                </div>
                                <div class="d:flex ai:center gap:3">
                                    <span class="icon icon:user">아이콘</span>
                                    <span th:text="${r.nickname}">닉네임</span>
                                </div>
                                <div th:text="${r.comments}">한줄평이 출력됩니다</div>
                                <div class="d:inline-block ">
                                    <span class="icon icon:thumbs_up">아이콘</span>
                                    <span th:text="${count.count}">좋아요 수</span>
                                    <button class="ml:2">좋아요</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                <div id="content" class="toggle-off">
                    <div
                    th:if="${reviews == null or #lists.isEmpty(reviews)}" 
                    class="txt-al:center fs:5 fw:3 mb:3">
                        <span>1등으로 리뷰를 작성해보세요!</span>
                    </div>
                    <form th:action="${myReview != null ? 'comment/edit/'+movie.movieCd : 'comment'}" action="comment"
                        method="POST" class="reg-form">
                        <div class="display:flex justify-content:space-between fs:4">
                            <input type="text" name="movieCd" th:value="${movie.movieCd}" class="d:none">
                            <select class="n-select" id="rate" name="rate" type="">
                                <option disabled selected value="15000">적정가격을 골라주세요</option>
                                <option th:selected="${myReview != null and myReview.memberRate == 0}" value="0">0원
                                </option>
                                <option th:selected="${myReview != null and myReview.memberRate == 5000}" value="5000">
                                    5,000원</option>
                                <option th:selected="${myReview != null and myReview.memberRate == 10000}"
                                    value="10000">10,000원</option>
                                <option th:selected="${myReview != null and myReview.memberRate == 15000}"
                                    value="15000">15,000원</option>
                                <option th:selected="${myReview != null and myReview.memberRate == 20000}"
                                    value="20000">20,000원</option>
                                <option th:selected="${myReview != null and myReview.memberRate == 25000}"
                                    value="25000">25,000원</option>
                                <option th:selected="${myReview != null and myReview.memberRate == 30000}"
                                    value="30000">30,000원</option>
                            </select>
                        </div>
                        <div class="display:flex align-items:flex-end flex-direction:column">
                            <!--비회원 접속시-->
                            <textarea sec:authorize="isAnonymous()" disabled
                                class="anonymous-font-size width:10p height:2 p:2 n-textbox n-textbox-status:success"
                                type="text" placeholder="로그인후 이용하실수 있습니다."></textarea>

                            <a href="/user/signin">
                                <button sec:authorize="isAnonymous()" type="button"
                                class="n-btn n-btn-type:filled m:2 submit-buttons">로그인하기</button>
                            </a>
                            <!--회원 접속시-->
                            <textarea sec:authorize="isAuthenticated()"
                                th:text="${myReview != null ? myReview.comments : ''}" id="comments" name="comments"
                                class="width:10p height:2 p:2 n-textbox reg-textarea n-textbox-status:success" type="text"
                                placeholder="내용을 입력해주세요." maxlength="50"></textarea>
                            <div class="mr:auto mt:1">
                                <span sec:authorize="isAuthenticated()" class="charCount ml:2 color:base-6">0 / 50</span>
                                <span sec:authorize="isAuthenticated()" class="color:accent-1 empty-field">공백은 입력할 수 없습니다</span></div>
                            <div class="d:flex">
                                <!--평가 or 수정버튼-->
                                <button sec:authorize="isAuthenticated()" type="submit"
                                    th:text="${myReview != null ? '수정완료' : '평가완료'}"
                                    class="n-btn n-btn-type:filled m:2 submit-button">평가하기
                                </button>
                            </div>
                        </div>
                    </form>
                    <form th:action="${myReview != null ? 'comment/delete/'+movie.movieCd : 'comment'}" action="comment" method="POST">
                        <!--삭제요청 버튼-->
                       <input type="text" name="movieCd" th:value="${movie.movieCd}" class="d:none">
                       <button sec:authorize="isAuthenticated()" type="submit"
                       th:if="${myReview != null}"
                       class="n-btn n-btn-type:filled m:2 delete-button n-btn-color:accent">삭제하기
                   </button>
                   </form>
                    <div class="d:flex jc:center my:4">
                        <a href="/2weeks/list">
                            <button class="n-btn n-btn-color:main">다음주 후보 보러가기</button>
                        </a>
                    </div>
                </div>
            </section>
            </section>
        </section>
        </section>
    </main>
</body>

</html>