main{
    width: 100%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*max-width: 700px;*/
}
.test{
    max-width: 1333px;
    padding: 8px;
    /* overflow: hidden; */
    width: 100%;
}

.main-img-block{
    display: flex;
    flex-wrap: nowrap;
}

.main-img-block img{
    width: 100%;
}

.section-margin{
    margin-top: 60px;
    > h1{
        margin-bottom: 20px;
    }
}

.review-bgc{
    background-color: rgb(250, 250, 250);
}


.actor {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    font-size: 15px;
    font-weight: bold;
}

.actor img{
    margin-right: 8px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* 이미지가 박스에 꽉 차도록 설정 */
}

.actor li{
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin-bottom: 8px;
    height: 80px;
}

.actor div{
    display: flex;
    flex-direction: column;
}

.actor div span{
    font-size: 12px;
    color: rgb(154, 154, 154);
    text-align: center;
}
.avg-block{
    /*width: 100%;*/
}

/*폰트설정*/
.title-font{
    font-size: 36px;
}

.section-font{
    font-size: 24px;
}

.input-container input::placeholder{
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* 썸네일 이미지 */
.thumbnail {
    /*max-width: 100%;*/
    height: 290px;
    cursor: pointer;
}

/* 모달 창 스타일 */
.modal {
    display: none; /* 기본적으로 보이지 않음 */
    position: fixed; /* 화면에 고정 */
    z-index: 9999; /* 다른 콘텐츠보다 위에 표시 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    /*overflow: auto; !* 스크롤 가능 *!*/
    background-color: rgb(0, 0, 0); /* 배경색 */
    background-color: rgba(0, 0, 0, 0.9); /* 배경색 투명도 */
    opacity: 0; /* 초기 상태는 투명 */
    transition: opacity 0.1s ease; /* 애니메이션 효과 */
}
.modal.show {
    /*display: flex; !* 보이게 설정 *!*/
    justify-content: center;
    align-items: center;
    opacity: 1; /* 불투명 */
}
/* 모달 창에 표시되는 이미지 */
.modal-content {
    display: block;
    width: 80%;
}

/* 닫기 버튼 */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*모달창 네비게이션 버튼 스타일 */
.prev, .next {
    cursor: pointer;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none; /*선택되거나 드래그 되지않게 막는설정*/
}
.prev:hover, .next:hover {
    color: #bbb;
}

/*리뷰 카테고리필터 변경할때 애니메이션*/
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in.show {
    opacity: 1;
}
.status{
    transform: rotate(0deg);
    transition: transform 0.6s;
}
.status-change{
    transform: rotate(180deg);
}
/* Media Queries*/
@media (max-width: 1068px) {
    .test .avg-block {
        font-size: 12px;
    }
    .title-font {
        font-size: 20px;
    }
}

@media (min-width: 1068px) {
    test{
        max-width: 900px;
    }

    .main-img-block{
        width: 900px;

        img{
            width:100%;
        }
    }

    .actor {
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 80px; /* 각 항목 사이의 간격 조절 */
        font-size: 15px;
        font-weight: bold;
        margin-left: 40px;
    }

    .img-block img{
        width: 33%;
        height: 33%;
    }
    .content{
        overflow: hidden;
    }
    .toggle-on{
    height: 1;
    transform: height 1s ease;

    }
    .toggle-off{
        height: 0;
    }
}

@keyframes slideInFromTopRight {
    0% {
      transform: translate(100%, -100%);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slideInFromTopRight 0.5s ease-out forwards;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }